.remove-btn{
    margin-left: 5px;
}
.answerbutton{
    margin-left: 5px;
    width: 50%;
}
.fade-enter{
    opacity: 0.01;
}
.fade-enter-active{
    opacity:1;
    transition: opacity 1000ms ease-in;
}
.fade-exit{
    opacity: 1;
}
.fade-exit-active{
    opacity: 0.01;
    transition: opacity 1000ms ease-out;

}

.landing {
  position: relative;
  background: url("./img/Landing.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  margin-top: -25px;
}

.landing-inner {
  padding-top: 180px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
.navLink{
    color: white;
    text-decoration: none;
}
.navLink:hover{
    color: grey;
    text-decoration: none;
}
/* .questionLi{
    background-color: lightgrey;
    padding: 20px;
    margin-bottom: 20px;
    width: 25%;
    height: auto;
    /* display: flex; */
    /* float: left; */
/* } */ 

.column1 {
    
    width: 45%;
    padding: 5%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 200px;
    border: 1px solid #dedede;
    background-color: #fff;
    float: left;
  }
  .column1:hover { 
    background-color: #6B4E71;
    color: white !important;
}
  /* .row1:after {
    content: "";
    display: table;
    clear: both;
  } */
/* .questionContent{
    height: auto;
} */
.qTitle{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
}

.QuestContainer{
    /* border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px; */
}
.oneQuest{
    height: auto;
    width: 100%;
    border: 2px solid black;
    border-radius: 30px;
    padding: 20px 30px;
}
/* .answers{  
    
} */
.reply{
    padding: 20px 30px;
    border: 1px solid black;
    border-radius: 10px;
    height: auto;
    width: auto;
    margin: 10px 0px;
}
.prof{
    background-color: #D2B6DC;
}
.post{
    width: 50%;
}

.stu h3{
    float: right;
}
.profileBox{
    margin-bottom: 30px;
}
.navbar-dark{
    background-color: #47066D;
    height: 70px;
}  
.foot{
    background-color: black;
    bottom: 0;
    position: relative;
    width: 100%;
}
.textArea{
    width: 100%;
    height: 300px;
}
.btn-col{
    background-color: #47066D
}
.profTop{
    background-color: black;
    padding: 30px;
}
.profTop h3{
    color: white;
}
.profTop h4{
    color: white;
}
.descrip{
    border: 5px solid black;
    padding: 30px;
}
.USER{
    margin-bottom: 20px;
}
.contact{
    margin-left: 15px;
}
.Login{
    margin-top: 10%;
    height:600px;
}
.Register{
    margin-top:10%;
    height: 650px;
}
.answerList{
    margin-bottom: 50px;
}